NEXT_PUBLIC_SUPABASE_URL=https://fxbywxzyhrwhfzjzsoxz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4Ynl3eHp5aHJ3aGZ6anpzb3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0NDUzMTQsImV4cCI6MjA2NzAyMTMxNH0.wghbUYh-8VHOlxB7pbzSWK7sHgb-gCcxZI1AoCcf-38
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4Ynl3eHp5aHJ3aGZ6anpzb3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0NDUzMTQsImV4cCI6MjA2NzAyMTMxNH0.wghbUYh-8VHOlxB7pbzSWK7sHgb-gCcxZI1AoCcf-38